@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.aboutSection {
    padding: 50px 50px;
    font-family: 'Open Sans', sans-serif;
}

.aboutSection h1 {
    font-size: 50px;
    margin: 0 0 50px 50px;
}

.aboutmeImage {
    float: left;
    margin: 0px 50px 0 0;
    transition: .1s; /*Only for a nice smooth effect when resizing window*/
}

.aboutSection p {
    margin: 20px 0;
}

.aboutSection a {
    color: var(--body-link-color);
    text-decoration: none;
}

.aboutSection a:hover {
    color: var(--body-link-hover-color);
    text-decoration: underline;
}

.iconContainer {
    text-align: center;
    margin-top: 50px;
}

.aboutmeIcon {
    font-size: 50px;
    margin: 0px 20px;
}

.aboutmeIcon:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    .aboutSection {
        padding: 50px 20px;
    }

    .aboutSection h1 {
        font-size: 40px;
        margin-left: 0;
    }

    .aboutmeImage {
        width: 200px;
        height: auto;
    }
}

@media all and (max-width: 710px) {
    .aboutmeImage {
        width: 150px;
    }
}

@media all and (max-width: 450px) {
    .aboutSection {
        padding: 50px 10px;
        text-align: center;
    }

    .aboutmeImage {
        display:block !important;
        width: 50%;
        margin: auto;
        float: none;
    }

    .aboutmeIcon {
        font-size: 30px;
        margin: 0px 10px;
    }
}