.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  min-height: 70vh;
  text-align: justify;
}

.glowContainer {
  position: absolute;
}

.glow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  z-index: -1;
}

.glow::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.glow::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.glow::before,
.glow::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.introContainer {
  width: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.introContainer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}

.introContainer .content h1 {
  font-size: 50px;
  font-family: 'Permanent Marker', cursive, Calibri;
}

.introContainer .content small {
  font-family: 'Combo', cursive, Calibri;
  font-weight: 300;
}

.aboutSection {
  padding: 50px 50px;
  font-family: 'Open Sans', sans-serif;
}

.aboutSection h1 {
  font-size: 50px;
  margin: 0 0 50px 50px;
}


.aboutSection p {
  margin: 20px 0;
}

.aboutSection a {
  color: var(--body-link-color);
  text-decoration: none;
}

.aboutSection a:hover {
  color: var(--body-link-hover-color);
  text-decoration: underline;
}

.iconContainer {
  text-align: center;
  padding: 10px;
  margin-top: 30px;
}

.aboutmeIcon {
  font-size: 50px;
  margin: 0px 20px;
  padding: 5px;
}

.aboutmeIcon:hover {
  transform: scale(1.1);
}

.pTitle {
  font-weight: bold;
  text-transform: uppercase;
}

.readBrief {
  cursor: pointer !important;
  text-decoration: underline !important;
}

@media screen and (max-width: 768px) {
  .aboutSection {
      padding: 50px 20px;
  }

  .aboutSection h1 {
      font-size: 40px;
      margin-left: 0;
  }
}

@media all and (max-width: 450px) {
  .aboutSection {
      padding: 10px 10px;
      text-align: center;
  }

  .aboutmeIcon {
      font-size: 30px;
      margin: 0px 10px;
  }
}

@media screen and (max-width: 899px) {
  .introContainer {
      padding: 20px;
  }

  .introContainer {
      flex-direction: column;
      align-items: center;
  }

  .introContainer .content {
      padding: 0;
  }

  .introContainer .content h1 {
      font-size: 30px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .glow {
    padding: 8rem 0 6rem;
  }

  .glow::before {
    transform: none;
    height: 300px;
  }
}